{% extends 'base.html' %} 
{% block head_title %} it's Ammazing !! {% endblock head_title %} 

{% block content %} 

<div class="row text-center">
<div class="col">
 <h3>Welcome to TweetMe 2</h3>
</div>
</div>

<div class="row mb-4">
<div class="col-md-4 mx-auto col-10">
   <form class="form" method="POST" id ="tweet-create-form" action="/create-tweet">
     {% csrf_token %}
     <div class="d-none alert alert-danger" id="create-form-error"></div>
     <input type="hidden" name="next" value="/">
     <textarea class="form-control" required name="content" id="content" placeholder ="Your tweet..."></textarea>
     <button class="btn btn-primary" type="submit">Tweet</button>
   </form>
 </div>
</div>

<div class="row" id="tweets">
   Replace me
</div> 



<script>

 const tweetsContainerElement = document.getElementById("tweets")
 loadTweets(tweetsContainerElement)

function handleTweetFormError(msg,display) 
{
  var divError = document.getElementById("create-form-error");
  if (display=== true) 
  {
    divError.setAttribute("class","alert alert-danger")
    divError.innerText = msg

  } else
  {
      divError.setAttribute("class","d-none alert alert-danger")
      divError.innerText = ''
  }
}

function handleTweetCreateFormDidSubmit(event) {
  event.preventDefault();
  const myForm = event.target;
  const myFormData = new FormData(myForm)
  const url = myForm.getAttribute("action")
  const method = myForm.getAttribute("method")
  const xhr = new XMLHttpRequest();
   const responseType = "json"
  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
  xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
  xhr.onload = function () {
    
    
    if (xhr.status == 201)
    {
       handleTweetFormError('',false)
      const newTweetJSON = xhr.response
      const newTweetElement = formatTweetElement(newTweetJSON)
      const ogHtml = tweetsContainerElement.innerHTML
      tweetsContainerElement.innerHTML = newTweetElement + ogHtml
      myForm.reset()
      handleTweetFormError(contentErrorMsg,false)

    }
    else if (xhr.status == 400)
    {
      const errorJson = xhr.response
      const contentError = errorJson.content
      let contentErrorMsg;
      if (contentError)
      {
        contentErrorMsg = contentError[0]
        handleTweetFormError(contentErrorMsg,true)

      }
      else 
       {
         alert("An other error occur please try again.")
       }

      console.log(contentErrorMsg)
    }
     else if (xhr.status == 403)
    {
      alert("You Must login.")
      window.location.href="/login"
    }
    else if (xhr.status == 500)
    {
      alert("Server error, pleas try again.")
    }
  
  }
  xhr.onerror = function () {
  
    alert("an error are ocurrend please try aggaine later.")
  }
  xhr.send(myFormData)
 
  
 
}
const tweetCreateFormEl  =document.getElementById("tweet-create-form")
 tweetCreateFormEl.addEventListener("submit",handleTweetCreateFormDidSubmit)

function loadTweets(tweetsElement) {
  handleTweetFormError('',false) 
  const xhr = new XMLHttpRequest();
  const method = "GET"
  const url = "/tweets"
  const responseType = "json"
  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function () {
    const serverResonse = xhr.response
    var listedItems = serverResonse
    var finalTweetStr =""
    var i;
    for (i=0; i< listedItems.length ; i++)
    {

      var curentItem = formatTweetElement(listedItems[i])
       finalTweetStr += curentItem;
    }

    tweetsContainerElement.innerHTML = finalTweetStr ;

     }
   xhr.send()

}
  

function handleDidLike(tweet_id,currentCount){
  console.log(tweet_id,currentCount)

}

function  likeBtn(tweet) {
return "<Button class ='btn btn-primary btn-sm' onclick=handleDidLike("+tweet.id+","+tweet.likes+")>"+tweet.likes+" Like</Button>" 
}


  function formatTweetElement(tweet) {
    var formatedTweet = "<div class='col-12 col-md-10 mx-auto  border mb-4 py-3 tweet' id = 'tweet-"+
    tweet.id+"'>"+tweet.id+"<p>"+tweet.content+"</p><div class='btn-group'>"+
      likeBtn(tweet)+
    "</div></div>";
    return formatedTweet
  }
  

    
 
</script>
{% endblock content %}
